body {
    font-family: Arial;
    color: white;
    background-color: rgb(70, 70, 80);
}

nav {
    height: 1%;
    padding: 2%;
    background-color: rgb(35, 35, 50);
}

a {
    font-weight: bold;
    font-size: 20px;
    color: rgb(130, 90, 180);
}

a:hover {
    color: rgb(160, 120, 220);
}